# Case study on flight cancellations

We will use a dataset on flight delays and cancellations. In the first part, you are going to perdict whether a flight will be cancelled or not, in the second part, you will predict the delay time. Let's first load the data.

The data source and description: http://stat-computing.org/dataexpo/2009/the-data.html

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/Desktop/flights_2008.csv')
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Number of rows in the dataset:

In [8]:
len(df)

1936758

These are the various airline carriers (you can find their descriptions through the link):

In [6]:
df['UniqueCarrier'].value_counts()

WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
DL    114238
XE    103663
CO    100195
US     98425
EV     81877
NW     79108
FL     71284
YV     67063
B6     55315
OH     52657
9E     51885
AS     39293
F9     28269
HA      7490
AQ       750
Name: UniqueCarrier, dtype: int64

We are of course interested in column 'Cancelled'.

In [7]:
df['Cancelled'].value_counts()

0    1936125
1        633
Name: Cancelled, dtype: int64

There are not that many cancelled flights. This will be a significant problem for your classification. We will cover various techniques to address this issue.